body{
font-family:Arial;
text-align:center;
padding:20px;
}

#question{
font-size:22px;
margin:20px;
}

#answer{
font-size:20px;
color:green;
margin:20px;
}

.hidden{
display:none;
}

button{
padding:10px;
margin:10px;
}
